
comment "Select Video Decoder(s)"

config EARLYCAMERA_SOLUTION_VIDEODECODER_ANALOGDEVICES_ADV7182
	bool "Analog Devices - ADV7182"
	default n
	help
	Analog Devices - ADV7182

	Product details are belows
	- Manufacturer: Analog Devices
	- Product: ADV7182

config EARLYCAMERA_SOLUTION_VIDEODECODER_INTERSIL_ISL79988
	bool "Intersil - ISL79988"
	default n
	help
	Intersil - ISL79988

	Product details are belows
	- Manufacturer: Intersil
	- Product: ISL79988

config EARLYCAMERA_SOLUTION_DESERIALIZER_MAXIM_MAX9276
	bool "MAXIM - MAX9276"
	help
	MAXIM - MAX9276

	Product details are belows
	- Manufacturer: MAXIM
	- Product: MAX9276

