if TCC803X

config SYS_SOC
	default "tcc803x"

config TCC_CORE_RESET
	bool "TCC803x Core Reset feature"
	default n

config RESTORE_SUBCORE_IMAGE_BY_MAINCORE
	bool "Restore subcore image on core reset by maincore"
	depends on TCC_CORE_RESET && !BOOT_SUBCORE_SELF_LOAD_MODE
	default n

config INIT_SUBCORE_SERIAL_BY_MAINCORE
	bool "Init subcore serial by maincore"
	depends on BOOT_SUBCORE_BY_MAINCORE || BOOT_CM4_BY_MAINCORE
	default y

source "board/telechips/tcc803x_evb/Kconfig"

endif
