# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2023 Telechips Inc.

menu "Telechips architecture"
	depends on ARCH_TELECHIPS

config SYS_VENDOR
	default "telechips"

config HAS_SUBCORE
	bool

config ARCH_SUPPORT_BOOT_SUBCORE_BY_MAINCORE
	bool

choice
	prompt "Telechips SoC select"
	optional

config TCC750X
	bool "Telechips TCC750x SoC Family"
	select ARM_SMCCC
	select USE_IRQ

config TCC803X
	bool "Telechips TCC803x SoC family"
	select ARM_SMCCC
	select USE_IRQ
	select HAS_SUBCORE
	select ARCH_REBOOT_INIT
	select ARCH_SUPPORT_BOOT_SUBCORE_BY_MAINCORE

config TCC805X
	bool "Telechips TCC805x SoC Family"
	select ARM_SMCCC
	select USE_IRQ
	select HAS_SUBCORE

config TCC807X
	bool "Telechips TCC807x SoC Family"
	select ARM_SMCCC
	select USE_IRQ
	select HAS_SUBCORE

endchoice

choice
	prompt "Telechips SoC target core select"
	default USE_MAINCORE

config USE_MAINCORE
	bool "Telechips SoC main core"

config USE_SUBCORE
	bool "Telechips SoC sub-core"
	depends on HAS_SUBCORE

endchoice

config ARCH_REBOOT_INIT
	bool "Call arch-specific reboot init"
	default n

config TCC_SECUREBOOT
	bool "Support Telechips Secure Boot"
	default y

config TCC_SECUREBOOT_ENABLE
	bool "Secure Boot Enable"
	depends on TCC_SECUREBOOT && USE_MAINCORE
	default y

config TCC_MCERT_UNIQUEKEY_ENC
	bool "MCERT is encrypted the unique key"
	depends on TCC_SECUREBOOT && USE_MAINCORE
	default y

source "arch/arm/mach-telechips/tcc750x/Kconfig"
source "arch/arm/mach-telechips/tcc803x/Kconfig"
source "arch/arm/mach-telechips/tcc805x/Kconfig"
source "arch/arm/mach-telechips/tcc807x/Kconfig"

endmenu
