// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 */

/dts-v1/;

#include "tcc803x.dtsi"
#include "tcc8030-pinctrl.dtsi"

/ {
	model = "Telechips TCC8031P EVB SV1.0";
	board-id = <TCC_BOARD_ID_TCC8030_EVB>;
	board-rev = <0x1>;
	interrupt-parent = <&gic0>;
};

&chosen {
	stdout-path = &uart0;
};

&cpus {
	cpu@0 {
		status = "okay";
	};
};

&gic0 {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart18_data>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

/* SP UART */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart9_data>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

&sp_serial {
	status = "okay";
	serial_sel = <&uart3>;
	u-boot,dm-pre-reloc;
};

#if 0
&mbox0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};
#endif

/* eMMC */
&sdhc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk>, <&sd0_cmd>, <&sd0_bus8>;
	bus-width = <8>;
	status = "okay";
	max-frequency = <200000000>;

	tcc-mmc-taps = <0xF 0xF 0xF 0xF>;

	non-removable;
	mmc-hs200-1_8v;
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c11_bus>;
	port-mux = <11>;
	status = "okay";

	gpext1: tca9539@74 {
		compatible = "nxp,pca9539";
		reg = <0x74>;
		gpio-controller;
		#gpio-cells = <2>;
		label = "gpext1";

		status = "okay";
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_bus>;
	port-mux = <6>;
	status = "okay";
};

&i2c7 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c12_bus>;
	port-mux = <12>;
	status = "okay";

	videosource0: videodecoder_adv7182 {
		compatible	= "analogdevices,adv7182";
		pinctrl-names	= "idle", "active";
		pinctrl-0	= <&cam0_idle>;
		pinctrl-1	= <&cam0_rst &cam0_clk &cam0_hsync &cam0_vsync
				   &cam0_fld &cam0_de &cam0_data>;
		rst-gpios	= <&gpb 14 GPIO_ACTIVE_HIGH>;
		reg		= <0x21>;	// 0x42 >> 1
		cifport		= <0>;
	};
#if 1
	videosource2: deserializer_max9276 {
		compatible	= "maxim,max9276";
		pinctrl-names	= "idle", "active";
		pinctrl-0	= <&cam0_idle>;
		pinctrl-1	= <&cam0_rst &cam0_clk &cam0_hsync &cam0_vsync
				   &cam0_fld &cam0_de &cam0_data>;
		rst-gpios	= <&gpb 14 GPIO_ACTIVE_HIGH>;
		reg		= <0x4A>;	// 0x94 >> 1
		cifport		= <0>;
	};
#else
	videosource2: deserializer_max9276 {
		compatible	= "maxim,max9276";
		pinctrl-names	= "idle", "active";
		pinctrl-0	= <&cam1_idle>;
		pinctrl-1	= <&cam1_rst &cam1_clk &cam1_hsync &cam1_vsync
				   &cam1_fld &cam1_de &cam1_data>;
		rst-gpios	= <&gpma 21 GPIO_ACTIVE_HIGH>;
		reg		= <0x4A>;	// 0x94 >> 1
		cifport		= <1>;
	};
#endif
};

&switch0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&switch_c13>;

	switch-gpios = <&gpc 13 1>;
	switch-active = <1>;
};

&dwc3_phy {
	status = "okay";
};

&dwc3_platform {
	status = "okay";
};

&dwc3 {
	use_expander;
	gpios = <&gpext1 2 0>;
	status = "okay";
};

&ehci_phy {
	status = "okay";
};

&mhst_phy {
	status = "okay";
};

&ehci {
	use_expander;
	gpios = <&gpext1 1 0>;
	status = "okay";
};

&ehci_mux {
	use_expander;
	gpios = <&gpext1 0 0>;
	status = "okay";
};

&ohci {
	status = "okay";
};

&ohci_mux {
	status = "okay";
};

&dwc_otg_phy {
	status = "okay";
};

&dwc_otg {
	use_expander;
	gpios = <&gpext1 0 0>;
	status= "okay";
};

&tcc_lvds_ctrl{
	mboxes = <&multi_mbox0 1>;
	status = "okay";
};

&tcc_lcd_interface{
	board-type = <0>; // tcc803xpe
	status = "okay";
};

&ufs{
	status = "okay";
};

&tcc_timer0 {
	/* dummy timer */
	status = "okay";
};

&tcc_timer1 {
	/* for earlycamera */
	status = "okay";
};

&tcc_hdmi_v20 {
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_ddc_pins &hdmi_hpd_pins>;
	status = "okay";
};
