// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 */

/dts-v1/;

#include "tcc805x.dtsi"
#include "tcc8050_53-pinctrl.dtsi"

/ {
	model = "Telechips TCC8053 EVB SV0.1";
	board-id = <TCC_BOARD_ID_TCC8053_EVB>;
	board-rev = <0x0>;
	interrupt-parent = <&gic0>;

	sdhc2_pwrseq: sdhc2_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpsd1 8 GPIO_ACTIVE_LOW>;
	};
};

&chosen {
	stdout-path = &uart0;
};

&cpus {
	cpu@0 {
		status = "okay";
	};
};

&gic0 {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart18_data>;
	status = "okay";
	u-boot,dm-pre-reloc;
};

&mbox0 {
	status = "okay";
	u-boot,dm-pre-reloc;
};

&tcc_sc_fw {
	status = "okay";
	mboxes = <&mbox0 0>;
	u-boot,dm-pre-reloc;

	tcc_sc_mmc {
		status = "okay";
		u-boot,dm-pre-reloc;
	};
};

/* eMMC */
&sdhc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk>, <&sd0_cmd>, <&sd0_bus8>, <&sd0_strb>;
	bus-width = <8>;
	status = "okay";

	tcc-mmc-taps = <0xF 0xF 0xF 0xF>;
	tcc-mmc-hs400-pos-tap = <0x6>;
	tcc-mmc-hs400-neg-tap = <0xB>;

	non-removable;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
};

/* SD Slot */
&sdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&sd2_clk>, <&sd2_cmd>, <&sd2_bus4>;
	status = "okay";

	mmc-pwrseq = <&sdhc2_pwrseq>;

	non-removable;
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c37_bus>;
	port-mux = <37>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c22_bus>;
	port-mux = <22>;
	status = "okay";

	pmic: da9131 {
		compatible	= "dlg,da9131";
		reg		= <0x68>;
	};
};

&i2c7 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c12_bus>;
	port-mux = <12>;
	status = "disabled";

	videosource0: videodecoder_adv7182 {
		compatible	= "analogdevices,adv7182";
		pinctrl-names	= "idle", "active";
		pinctrl-0	= <&cam0_idle>;
		pinctrl-1	= <&cam0_rst &cam0_clk &cam0_hsync &cam0_vsync
				   &cam0_fld &cam0_de &cam0_data>;
		rst-gpios	= <&gpb 14 GPIO_ACTIVE_HIGH>;
		reg		= <0x21>;	// 0x42 >> 1
		cifport		= <0>;
	};
#if 1
	videosource2: deserializer_max9276 {
		compatible	= "maxim,max9276";
		pinctrl-names	= "idle", "active";
		pinctrl-0	= <&cam0_idle>;
		pinctrl-1	= <&cam0_rst &cam0_clk &cam0_hsync &cam0_vsync
				   &cam0_fld &cam0_de &cam0_data>;
		rst-gpios	= <&gpb 14 GPIO_ACTIVE_HIGH>;
		reg		= <0x4A>;	// 0x94 >> 1
		cifport		= <0>;
	};
#else
	videosource2: deserializer_max9276 {
		compatible	= "maxim,max9276";
		pinctrl-names	= "idle", "active";
		pinctrl-0	= <&cam1_idle>;
		pinctrl-1	= <&cam1_rst &cam1_clk &cam1_hsync &cam1_vsync
				   &cam1_fld &cam1_de &cam1_data>;
		rst-gpios	= <&gpma 21 GPIO_ACTIVE_HIGH>;
		reg		= <0x4A>;	// 0x94 >> 1
		cifport		= <1>;
	};
#endif
};

&switch0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&switch_mb23>;

	switch-gpios = <&gpmb 23 1>;
	switch-active = <1>;
};

&dwc3_phy {
	status = "okay";
};

&dwc3_platform {
	status = "okay";
};

&dwc3 {
	pinctrl-names = "vbus_on", "vbus_off";
	pinctrl-0 = <&usb30_vbus_pwr_ctrl_on_sv01>;
	pinctrl-1 = <&usb30_vbus_pwr_ctrl_off_sv01>;
};

&ehci_phy {
	status = "okay";
};

&mhst_phy {
	status = "okay";
};

&ehci {
	pinctrl-names = "vbus_on", "vbus_off";
	pinctrl-0 = <&usb20_vbus_pwr_ctrl_on_sv01>;
	pinctrl-1 = <&usb20_vbus_pwr_ctrl_off_sv01>;
	status = "okay";
};

&ehci_mux {
	pinctrl-names = "vbus_on", "vbus_off";
	pinctrl-0 = <&usb20_mux_vbus_pwr_ctrl_on_sv01>;
	pinctrl-1 = <&usb20_mux_vbus_pwr_ctrl_off_sv01>;
	status = "okay";
};

&ohci {
	status = "okay";
};

&ohci_mux {
	status = "okay";
};

&dwc_otg_phy {
	status = "okay";
};

&dwc_otg {
	pinctrl-names = "vbus_on", "vbus_off";
	pinctrl-0 = <&usb20_mux_vbus_pwr_ctrl_on_sv01>;
	pinctrl-1 = <&usb20_mux_vbus_pwr_ctrl_off_sv01>;
	status= "okay";
};

&tcc_lcd_interface{
	board-type = <1>;
	status = "okay";
};

&ufs{
	status = "okay";
};
