# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2023 Telechips Inc.

if TCC807X

config SYS_SOC
	default "tcc807x"

config SYS_CONFIG_NAME
	default "tcc807x"

config SYS_BOARD
	default "tcc807x_evb"

source "board/telechips/tcc807x_evb/Kconfig"

endif
