menu "Timer Interrupt Support"

config DM_TIMER_IRQ
	bool "Enable driver model for timer interrupt drivers"
	depends on DM && ARCH_TELECHIPS
	default y
	help
	  Enable driver model for timer access. It uses the same API as
	  lib/time.c, but now implemented by the uclass. The first timer
	  will be used. The timer is usually a 32 bits free-running up
	  counter. There may be no real tick, and no timer interrupt.

endmenu
